data/
venv/
.vscode/
env/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
